{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:vue/base",
    "plugin:vue/vue3-strongly-recommended",
    "plugin:prettier-vue/recommended"
  ],
  "rules": {
    "vue/valid-v-slot": "off"
  }
}
