@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --header-height: 60px;
  --font-family: 'Rubik';
  --base-transition: cubic-bezier(.28, .98, .44, 1);
}

* {
  outline: none !important;
}

html {
  overflow-y: overlay;
  overflow-x: hidden !important;
}

body {
  @apply text-gray-900 dark:text-blueGray-100;
  margin: 0;
  user-select: none;
  font-family: var(--font-family);
  font-size: 15px;
  line-height: 1.2;
  font-weight: 400;
  font-variant: no-common-ligatures slashed-zero;
  -webkit-font-smoothing: antialiased;
}

svg.dbff-svg-sprite {
  width: 1.25em;
  height: 1.25em;
  @apply inline-flex items-center justify-center;
}

[contenteditable] {
  outline: 0 solid transparent;
}

.codeblock {
  background-color: #282c34;
  color: #abb2bf;
  font-family: 'Fira Code', sans-serif;
  padding: 1rem;
  font-size: .8rem;
  border-radius: 8px;
}

.blockquote {
  border-left: 2px solid var(--color-primary);
  color: var(--color-text);
  font-size: 1rem;
  font-style: italic;
  margin: 0;
  padding-left: 1rem;
}

svg {
  pointer-events: none;
}

*[disabled] {
  @apply opacity-70 pointer-events-none cursor-default;
}


.scale-enter-active, .scale-leave-active {
  transition: all .15s ease;
}
.scale-enter, .scale-leave-to {
  transform: scale(0.95);
  opacity: 0;
  overflow: hidden;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
