@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500&family=Nunito:wght@300;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;800;900&display=swap');

:root {
  --header-height: 60px;
  --font-family: 'Inter';
  --base-transition: cubic-bezier(.28, .98, .44, 1);
}

* {
  outline: none !important;
}

html {
  overflow: overlay;
}

body {
  @apply text-gray-900 dark:text-blueGray-100;
  margin: 0;
  user-select: none;
  font-family: var(--font-family);
  font-size: 15px;
  line-height: 1.5;
  font-weight: 300;
  font-variant: no-common-ligatures slashed-zero;
  -webkit-font-smoothing: antialiased;
}

[contenteditable] {
  outline: 0 solid transparent;
}

.codeblock {
  background-color: #282c34;
  color: #abb2bf;
  font-family: 'Fira Code', sans-serif;
  padding: 1rem;
  font-size: .8rem;
  border-radius: 8px;
}

.blockquote {
  border-left: 2px solid var(--color-primary);
  color: var(--color-text);
  font-size: 1rem;
  font-style: italic;
  margin: 0;
  padding-left: 1rem;
}

svg {
  pointer-events: none;
}
