/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'tailwindcss/screens';

@layer utilities {
  .gradientLaguna {
    --tw-gradient-from: #007CF0;
    --tw-gradient-to: #00DFD8;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  }

  .gradientLuna {
    --tw-gradient-from: #C781FF;
    --tw-gradient-to: #3C72FF;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  }

  .gradientAutumn {
    --tw-gradient-from: #FF4D4D;
    --tw-gradient-to: #F9CB28;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  }
}

@layer components {
  h1 {
    @apply text-4xl font-semibold mb-8 mt-4;
  }
  h2 {
    @apply text-3xl font-semibold mb-6 mt-4;
  }
  h3 {
    @apply text-2xl font-semibold mb-4 mt-4;
  }
  h4 {
    @apply text-xl font-semibold mb-4 mt-4;
  }
}
