@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;300;400;600;900&display=swap');

$font-family: 'Fira Sans', sans-serif;

.codeblock {
  background-color: #282c34;
  color: #abb2bf;
  font-family: 'Fira Code', sans-serif;
  padding: 1rem;
  font-size: .8rem;
  border-radius: 8px;
}

.blockquote {
  border-left: 2px solid var(--color-primary);
  color: var(--color-text);
  font-size: 1rem;
  font-style: italic;
  margin: 0;
  padding-left: 1rem;
}
