@import 'bootstrap.loader';

@import 'variables';
@import 'typography';
@import 'transitions';

@import 'fonts';

:root {
  --header-height: 60px;
  --font-family: #{$font-family};
  --base-transition: #{$base-transition};
  --box-shadow: 0 3px 4px -3px rgba(0, 0, 0, .1);

  @each $name, $color in map-get($default-colors, 'static' ) {
    --color-#{$name}: #{$color};
  }

  @each $name, $color in map-get($default-colors, 'scheme' ) {
    --color-#{$name}: #{$color};
    --color-#{$name}-darken: #{darken($color, 6%)};
    --color-#{$name}-tint: #{lighten($color, 6%)};
    --color-#{$name}-fade: #{transparentize($color, 0.9)};
  }
}

body {
  margin: 0;
  user-select: none;
  font-family: var(--font-family);
  font-size: 15px;
  line-height: 1.5;
  font-weight: 400;
  font-variant: no-common-ligatures slashed-zero;
  -webkit-font-smoothing: antialiased;
  color: var(--text-color);
}
