$light-colors: (
  background: #fff,
  background-contrast: #fff,
  primary: #3051ff,
  primary-muted: #e8ebff,
  primary-lighten: rgba(48, 81, 255, .3),
  primary-darken: #0c33ff,
  muted: #eee,
  muted-2: #f5f5f5,
  dark: #000,
  text: #242424
);
