$default-colors: (
  // Core colors
  static: (
    // only for app background
    background: #f5f5f5,
    background-contrast: #fff,
    muted: #e3e3e3,
    muted-accent: #e6e6e6,
    muted-darken: #b9b9b9,
  ),

  // Colorful
  scheme: (
    text: #242424,
    primary: #297eff,
    success: #06b94e,
    danger: #f93155,
    warning: #ffba00,
    black: #131313,
  )
);
