$brand-colors: (
  primary: #488AFF,
  success: #06B94E,
  danger: #F93155,
  warning: #FFBA00,
);

$light-colors: (
  muted: #E7E7E7,
  text: #333,
  text-muted: #979797,
  background: #F9F9F9,
  background-accent: #FFFFFF,
);
