$default-colors: (
  // Core colors
  static: (
    // only for app background
    background: #f1f1f1,
    background-contrast: #fff,
    muted: #e0e0e0,
    muted-accent: #e2e2e2,
    muted-darken: #d0d0d0,
    muted-fade: #00000005,
  ),

  // Colorful
  scheme: (
    text: #242424,
    primary: #297eff,
    success: #06b94e,
    danger: #f93155,
    warning: #ffba00,
    black: #131313,
  )
);
