* {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

html {
  @apply overflow-x-hidden tracking-wide;
  touch-action: pan-y;
  text-rendering: optimizeLegibility;
  font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  font-size: 15px;
  user-select: none;
}

body {
  @apply text-dark-900 dark:text-white bg-light-50 dark:bg-dark-900 h-screen w-screen;
}

#nprogress .bar {
  @apply relative bg-primary-500 rounded-full !important;
}

svg {
  width: 1.75em;
  height: 1.75em;
}

.collapse-enter-active, .collapse-leave-active {
  transition: opacity .2s ease, transform .2s ease;
}
.collapse-enter-from, .collapse-leave-to {
  opacity: 0;
  transform: scale(0);
}

.slide-up-enter-active, .slide-up-leave-active {
  transition: opacity .2s ease, transform .2s ease;
}
.slide-up-enter-from, .slide-up-leave-to {
  opacity: 0;
  transform: translateY(10px);
}

.slide-down-enter-active, .slide-down-leave-active {
  transition: opacity .2s ease, transform .2s ease;
}
.slide-down-enter-from, .slide-down-leave-to {
  opacity: 0;
  transform: translateY(-10px);
}

.scale-enter-active, .scale-leave-active {
  transition: opacity .2s ease, transform .2s ease;
}
.scale-enter-from, .scale-leave-to {
  opacity: 0;
  transform: scale(0.9);
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s ease;
}
.fade-enter-from, .fade-leave-to {
  opacity: 0;
}

@supports (overflow: overlay) {
  html {
    overflow: overlay;
  }
}

h1 {
  @apply tracking-wider text-4xl font-semibold mb-8 mt-4 !important;
}
h2 {
  @apply tracking-wider text-3xl font-semibold mb-6 mt-4 !important;
}
h3 {
  @apply tracking-wider text-2xl font-semibold mb-4 mt-4 !important;
}
h4 {
  @apply tracking-wider text-xl font-semibold mb-4 mt-4 !important;
}
h5 {
  @apply tracking-wider text-lg font-medium mb-4 mt-4 !important;
}

.scrollbar::-webkit-scrollbar {
  @apply w-2 h-2;
  @apply transition-all;
}
.scrollbar::-webkit-scrollbar-thumb {
  @apply bg-gray-300 dark:bg-white dark:bg-opacity-10 rounded-full opacity-0;
}

.container {
  @apply mx-auto;
  @apply max-w-full px-2 sm:px-6 lg:max-w-[1280px] !important;
}

.border-default {
  @apply dark:border-dark-400 border-light-700;
}

.divide-default {
  @apply dark:divide-dark-400 divide-light-700;
}
.divider-x {
  @apply block border-b dark:border-dark-300 border-light-700;
}
.divider-y {
  @apply block h-full border-b dark:border-dark-300 border-light-700;
}

