/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 */
@import '../node_modules/tailwindcss/base.css';
@import '../node_modules/tailwindcss/components.css';
@import '../node_modules/tailwindcss/utilities.css';
@import '../node_modules/tailwindcss/screens.css';

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --font-family: 'Rubik';
  --base-transition: cubic-bezier(.28, .98, .44, 1);
}

* {
  outline: none !important;
}

body {
  @apply text-gray-900 dark:text-blueGray-100 bg-gray-50 dark:bg-blueGray-900 bg-opacity-90;
  margin: 0;
  user-select: none;
  font-family: var(--font-family);
  font-size: 15px;
  line-height: 1.2;
  font-weight: 400;
  font-variant: no-common-ligatures slashed-zero;
  -webkit-font-smoothing: antialiased;
}



.slide-up-enter-active, .slide-up-leave-active {
  transition: opacity .2s ease, transform .3s ease;
}
.slide-up-enter-from, .slide-up-leave-to {
  opacity: 0;
  transform: translateY(10px);
}


@supports (overflow: overlay) {
  html {
    overflow: overlay;
  }
}

@layer components {
  h1 {
    @apply text-4xl font-semibold mb-8 mt-4;
  }
  h2 {
    @apply text-3xl font-semibold mb-6 mt-4;
  }
  h3 {
    @apply text-2xl font-semibold mb-4 mt-4;
  }
  h4 {
    @apply text-xl font-semibold mb-4 mt-4;
  }
  h5 {
    @apply text-lg font-medium mb-4 mt-4;
  }
}
