* {
  outline: none !important;
}

body {
  @apply text-gray-900 dark:text-blueGray-100 bg-gray-50 dark:bg-blueGray-900 bg-opacity-90;
  user-select: none;
  font-size: 14px;
}

svg {
  width: 1.75em;
  height: 1.75em;
}

.slide-up-enter-active, .slide-up-leave-active {
  transition: opacity .2s ease, transform .2s ease;
}
.slide-up-enter-from, .slide-up-leave-to {
  opacity: 0;
  transform: translateY(10px);
}

.scale-enter-active, .scale-leave-active {
  transition: opacity .2s ease, transform .2s ease;
}
.scale-enter-from, .scale-leave-to {
  opacity: 0;
  transform: scale(0.9);
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s ease;
}
.fade-enter-from, .fade-leave-to {
  opacity: 0;
}

@supports (overflow: overlay) {
  html {
    overflow: overlay;
  }
}
@layer utilities {
  .scrollbar::-webkit-scrollbar {
    @apply w-2 h-2;
    @apply transition-all;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-300 dark:bg-white dark:bg-opacity-10 rounded-full opacity-0;
  }
}
@layer components {
  .container {
    @apply mx-auto w-[1024px]
  }
  h1 {
    @apply text-4xl font-semibold mb-8 mt-4;
  }
  h2 {
    @apply text-3xl font-semibold mb-6 mt-4;
  }
  h3 {
    @apply text-2xl font-semibold mb-4 mt-4;
  }
  h4 {
    @apply text-xl font-semibold mb-4 mt-4;
  }
  h5 {
    @apply text-lg font-medium mb-4 mt-4;
  }
}
